@use "../variables.scss";
@use "../breakpoint.scss";

:root {
  --hero-color: white;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

s,
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // max-width: 35ch;
}

h1 {
  font-size: var(--font-size-3xl);
  line-height: 1.125;
}

h2 {
  font-size: var(--font-size-xl);
  line-height: 1.125;
}

.font-display {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
}

[id] {
  scroll-margin-top: variables.space(24);
}

ul {
  padding-left: 1.25rem;
}

li {
  list-style: disc;
  padding-bottom: 0.2em;
}

blockquote {
  border-left: solid 4px variables.$color-red-500;
  padding-left: 1em;
}

blockquote > p {
  margin-block-start: variables.space(6);
}

.text-center {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration-color: variables.$color-red-400;
  }
}

/* For fontawesome */
.svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}

img {
  vertical-align: middle;
}

p {
  max-width: 65ch;
}

.lead {
  text-wrap: balance;
}

.markdown {
  margin-bottom: 2lh;

  @include breakpoint.wider_than(lg) {
    font-size: var(--font-size-lg);
  }

  > *:not(h1, h2, h3, h4, h5, h6) + * {
    margin-block-start: 0.5lh;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-block-start: 1.5lh;
    margin-block-end: 0.5lh;
  }

  h1:first-child {
    margin-block-start: 0lh;
  }

  a {
    text-decoration: underline;
    text-decoration-color: var(--color-black);
    color: var(--color-red-400);
  }

  ul {
    list-style: disc;
    padding-inline-start: variables.$font-size-lg;
  }

  li::marker {
    color: var(--color-red-400);
  }

  .bus-timetable {
    font-family: monospace;
  }

  p img {
    max-width: 100%;
  }

  em {
    font-style: italic;
  }
}
